h3{
    font-size: 25px ;
    animation-name: ani1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn-success:hover{
    font-size: 20px;
}

.btn-success{
    animation-name: ani2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes ani1 { 
    from{font-size: 27px;box-shadow: 1px 1px 38px royalblue;}
    50%{font-size: 26px; transform: rotate(6deg)} 
    to{font-size: 25px; transform: rotate(-12deg)} 
    }

    @keyframes ani2 { 
        from{box-shadow: 1px 1px 38px rgb(65, 225, 97);}
        50%{ transform: rotate(2deg)} 
        to{ transform: rotate(-4deg)} 
        }
    
canvas{
    box-shadow: 1px 1px 38px crimson;
    background-color: whitesmoke;
}

body{
    background-image: url("blue_background.webp");
}